body{
    background-color: whitesmoke;
}

@font-face {
    font-family: 'lava';
    src: url('Pilowlava-Regular.woff') format('woff');
}

div.poster {
    background-color: black;
    width: 70%;
    padding-top: 180px;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 100px;
}

div.small {
    font-size: 20px;
    text-transform: lowercase;
    text-align: center;
    padding-top: 80px;
    font-family: helvetica;
    color: white;
}

div.text {
    transition: 0.5s;
    border-top: 1px rgb(216, 214, 214);
    border-style: groove;
    padding-bottom: 80px;
    padding-top: 80px;
    text-align: center;
    font-family: 'lava';
    color: white;
}

div.text.one {
    transform: skew(15deg);
    font-size: 30px;
}

div.text.two {
    transform: skew(10deg, 10deg);
    font-size: 60px;

}

div.text.three {
    transform: skew(30deg);
    font-size: 90px;
}