body{
    background-color: white;
}

@font-face {
    font-family: 'spacemono';
    src: url('SpaceMono-Regular.woff') format('woff');
}

div.poster {
    background-color: rgb(128, 177, 241);
    width: 70%;
}

div.small {
    font-size: 14px;
    text-align: center;
    padding-bottom: 14px;
    padding-top: 14px;
    border-top: 1px solid black;
    font-family: 'spacemono';
    color: rgb(255, 255, 255);
}

div.text {
    font-family: 'spacemono';
    text-transform: uppercase;
    border-top: 1px solid black;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

/* rule 1*/

div.text.one {
   text-align: center;
}

div.text.two {
    font-size: left;
}

div.text.three {
    font-size: right;
}

/* rule 2*/

div.text.a {
    text-align: 20px;
 }
 
 div.text.b {
     font-size: 60px;
 }
 
 div.text.c {
     font-size: 100px;
 }

 /* rule 3*/

div.text.x {
    text-align: center;
 }
 
 div.text.y {
     font-size: 60px;
 }
 
 div.text.z {
     font-size: 100px;
 }
